@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');


img{
    border: 2px solid white;
    box-shadow: 3px 8px 10px black;
}

body
{
    background-color: #0a0e27;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    box-shadow: 1px 5px 8px #90ffdc;
    border-radius: 20px;
}

.navbar ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a
{
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    color: white;
}

.navbar li
{
    list-style-type: none;
    margin: 0 18px;
    padding: 0;
    animation-name: slideup;
    animation-duration: 1s;
}

@keyframes slideup
{
    from{
        margin: 0 30px;
        opacity: 50%;
         transform: scale(0.0);
    }
    to{
        margin: 0 18px;
        opacity: 100%;
        transform: scale(1.0);
    }
}

.pri
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pri h1
{
    color: white;
    font-size: 40px;
    font-family: "Special Gothic Expanded One", sans-serif;
}

.foto
{
    display: flex;
    justify-content: space-around;
}

#suas
{
    color: white;
    font-size: 40px;
    font-family: "Special Gothic Expanded One", sans-serif;
    text-align: center;
}

#edi
{
    width: 300px;
}

.tu
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#ali
{
    width: 300px;
    height: 212px;
    align-self: center;
}

#alo
{
    width: 300px;
    height: 400px;
    align-self: center;
}


